.button {
  all: unset;
  align-items: center;
  border-radius: var(--shape-borderradius);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button .base {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.button .div {
  all: unset;
  box-sizing: border-box;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .class {
  flex: 0 0 auto !important;
  margin-right: -1px !important;
  position: relative !important;
}

.button .class-2 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
  position: relative !important;
}

.button .focus-ripple {
  left: 0;
  position: absolute;
  top: 0;
}

.button .button-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.button .text-wrapper-2 {
  all: unset;
  box-sizing: border-box;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button.outlined {
  border: 1px solid;
}

.button.state-4-loading.contained {
  background-color: var(--palette-action-disabledbackground);
}

.button.state-4-disabled.outlined {
  border-color: var(--palette-action-disabledbackground);
}

.button.size-medium.contained {
  padding: 6px 16px;
}

.button.text.size-small {
  padding: 4px 5px;
}

.button.size-medium.outlined {
  padding: 6px 16px;
}

.button.size-large.outlined {
  padding: 8px 22px;
}

.button.size-small.outlined {
  padding: 4px 10px;
}

.button.state-4-disabled.contained {
  background-color: var(--palette-action-disabledbackground);
}

.button.size-small.contained {
  padding: 4px 10px;
}

.button.state-4-focused.contained {
  box-shadow: var(--elevation-6);
}

.button.state-4-hovered.contained {
  box-shadow: var(--elevation-4);
}

.button.text.size-medium {
  padding: 6px 8px;
}

.button.text.size-large {
  padding: 8px 11px;
}

.button.size-large.contained {
  padding: 8px 22px;
}

.button.state-4-enabled.contained {
  box-shadow: var(--elevation-2);
}

.button.state-4-loading.outlined {
  border-color: var(--palette-action-disabledbackground);
}

.button.color-0-warning.state-4-hovered.contained {
  background-color: var(--palette-error-dark);
}

.button.color-0-error.state-4-hovered.contained {
  background-color: var(--palette-error-dark);
}

.button.state-4-focused.color-0-secondary.outlined {
  border-color: var(--palette-secondary-outlinedborder);
}

.button.state-4-focused.color-0-primary.contained {
  background-color: var(--palette-primary-main);
}

.button.text.state-4-hovered.color-0-info {
  background-color: var(--palette-info-hover);
}

.button.color-0-success.state-4-hovered.outlined {
  background-color: var(--palette-success-hover);
  border-color: var(--palette-success-outlinedborder);
}

.button.state-4-enabled.outlined.color-0-info {
  border-color: var(--palette-info-outlinedborder);
}

.button.state-4-enabled.color-0-inherit-white.contained {
  background-color: var(--material-colors-grey-300);
}

.button.color-0-success.state-4-hovered.contained {
  background-color: var(--palette-success-dark);
}

.button.color-0-error.state-4-focused.outlined {
  border-color: var(--palette-error-outlinedborder);
}

.button.text.color-0-success.state-4-hovered {
  background-color: var(--palette-success-hover);
}

.button.state-4-hovered.outlined.color-0-info {
  background-color: var(--palette-info-hover);
  border-color: var(--palette-info-outlinedborder);
}

.button.color-0-success.state-4-enabled.outlined {
  border-color: var(--palette-success-outlinedborder);
}

.button.state-4-enabled.color-0-inherit.outlined {
  border-color: var(--palette-text-primary);
}

.button.text.state-4-loading.size-large {
  border: 0px none;
  border-color: var(--palette-action-disabledbackground);
}

.button.color-0-primary.state-4-hovered.outlined {
  background-color: var(--palette-primary-hover);
  border-color: var(--palette-primary-outlinedborder);
}

.button.state-4-focused.outlined.color-0-info {
  border-color: var(--palette-info-outlinedborder);
}

.button.state-4-enabled.color-0-warning.contained {
  background-color: var(--palette-warning-main);
}

.button.color-0-secondary.state-4-enabled.contained {
  background-color: var(--palette-secondary-main);
}

.button.state-4-focused.color-0-inherit.outlined {
  border-color: var(--palette-text-primary);
}

.button.state-4-hovered.color-0-inherit.outlined {
  background-color: var(--palette-action-hover);
  border-color: var(--palette-text-primary);
}

.button.color-0-info.state-4-hovered.contained {
  background-color: var(--palette-info-dark);
}

.button.state-4-enabled.color-0-inherit.contained {
  background-color: var(--material-colors-grey-300);
}

.button.state-4-focused.color-0-success.contained {
  background-color: var(--palette-success-main);
}

.button.state-4-enabled.outlined.color-0-inherit-white {
  border-color: var(--palette-common-white-main);
}

.button.state-4-hovered.color-0-inherit-white.contained {
  background-color: var(--material-colors-grey-100);
}

.button.state-4-focused.color-0-primary.outlined {
  border-color: var(--palette-primary-outlinedborder);
}

.button.color-0-primary.outlined.state-4-enabled {
  border-color: var(--palette-primary-outlinedborder);
}

.button.state-4-focused.color-0-secondary.contained {
  background-color: var(--palette-secondary-main);
}

.button.state-4-focused.color-0-warning.contained {
  background-color: var(--palette-warning-main);
}

.button.text.state-4-hovered.color-0-warning {
  background-color: var(--palette-warning-hover);
}

.button.color-0-secondary.state-4-hovered.contained {
  background-color: var(--palette-secondary-dark);
}

.button.color-0-primary.state-4-hovered.contained {
  background-color: var(--palette-primary-dark);
}

.button.color-0-secondary.outlined.state-4-enabled {
  border-color: var(--palette-secondary-outlinedborder);
}

.button.text.size-large.state-4-disabled {
  border: 0px none;
  border-color: var(--palette-action-disabledbackground);
}

.button.color-0-success.state-4-enabled.contained {
  background-color: var(--palette-success-main);
}

.button.color-0-info.state-4-enabled.contained {
  background-color: var(--palette-info-main);
}

.button.state-4-focused.outlined.color-0-warning {
  border-color: var(--palette-warning-outlinedborder);
}

.button.color-0-error.state-4-enabled.outlined {
  border-color: var(--palette-error-outlinedborder);
}

.button.state-4-focused.color-0-success.outlined {
  border-color: var(--palette-success-outlinedborder);
}

.button.state-4-hovered.outlined.color-0-inherit-white {
  background-color: var(--palette-action-hover);
  border-color: var(--palette-common-white-main);
}

.button.color-0-error.state-4-hovered.outlined {
  background-color: var(--palette-error-hover);
  border-color: var(--palette-error-outlinedborder);
}

.button.state-4-hovered.outlined.color-0-warning {
  background-color: var(--palette-warning-hover);
  border-color: var(--palette-warning-outlinedborder);
}

.button.state-4-hovered.color-0-inherit.contained {
  background-color: var(--material-colors-grey-100);
}

.button.color-0-error.state-4-enabled.contained {
  background-color: var(--palette-error-main);
}

.button.text.state-4-loading.size-medium {
  border: 0px none;
  border-color: var(--palette-action-disabledbackground);
}

.button.color-0-primary.state-4-enabled.contained {
  background-color: var(--palette-primary-main);
}

.button.color-0-secondary.state-4-hovered.outlined {
  background-color: var(--palette-secondary-hover);
  border-color: var(--palette-secondary-outlinedborder);
}

.button.text.size-medium.state-4-disabled {
  border: 0px none;
  border-color: var(--palette-action-disabledbackground);
}

.button.color-0-error.state-4-focused.contained {
  background-color: var(--palette-error-main);
}

.button.text.color-0-error.state-4-hovered {
  background-color: var(--palette-error-hover);
}

.button.state-4-focused.outlined.color-0-inherit-white {
  border-color: var(--palette-common-white-main);
}

.button.state-4-focused.color-0-inherit-white.contained {
  background-color: var(--material-colors-grey-300);
}

.button.text.color-0-secondary.state-4-hovered {
  background-color: var(--palette-secondary-hover);
}

.button.state-4-enabled.outlined.color-0-warning {
  border-color: var(--palette-warning-outlinedborder);
}

.button.state-4-focused.color-0-inherit.contained {
  background-color: var(--material-colors-grey-300);
}

.button.text.state-4-hovered.color-0-inherit {
  background-color: var(--palette-action-hover);
}

.button.text.color-0-primary.state-4-hovered {
  background-color: var(--palette-primary-hover);
}

.button.color-0-info.state-4-focused.contained {
  background-color: var(--palette-info-main);
}

.button.text.state-4-hovered.color-0-inherit-white {
  background-color: var(--palette-action-hover);
}

.button.size-small.state-4-loading .base {
  padding: 3px 0px;
}

.button.state-4-loading.size-medium .base {
  padding: 4px 0px;
}

.button.size-large.state-4-loading.outlined .base {
  padding: 5px 0px;
}

.button.text.state-4-loading.size-large .base {
  padding: 5px 0px;
}

.button.state-4-focused .div {
  color: var(--palette-primary-main);
}

.button.size-large .div {
  font-family: var(--button-large-font-family);
  font-size: var(--button-large-font-size);
  font-style: var(--button-large-font-style);
  font-weight: var(--button-large-font-weight);
  letter-spacing: var(--button-large-letter-spacing);
  line-height: var(--button-large-line-height);
}

.button.state-4-loading .div {
  color: var(--palette-primary-main);
}

.button.state-4-disabled .div {
  color: var(--palette-action-disabled);
}

.button.size-medium .div {
  font-family: var(--button-medium-font-family);
  font-size: var(--button-medium-font-size);
  font-style: var(--button-medium-font-style);
  font-weight: var(--button-medium-font-weight);
  letter-spacing: var(--button-medium-letter-spacing);
  line-height: var(--button-medium-line-height);
}

.button.size-small .div {
  font-family: var(--button-small-font-family);
  font-size: var(--button-small-font-size);
  font-style: var(--button-small-font-style);
  font-weight: var(--button-small-font-weight);
  letter-spacing: var(--button-small-letter-spacing);
  line-height: var(--button-small-line-height);
}

.button.state-4-enabled.color-0-inherit .div {
  color: var(--palette-text-primary);
}

.button.state-4-hovered.color-0-inherit-white .div {
  color: var(--palette-common-white-main);
}

.button.state-4-enabled.color-0-inherit-white .div {
  color: var(--palette-common-white-main);
}

.button.state-4-hovered.color-0-inherit .div {
  color: var(--palette-text-primary);
}

.button.color-0-warning.state-4-hovered.contained .div {
  color: var(--palette-warning-contrast);
}

.button.color-0-error.state-4-hovered.contained .div {
  color: var(--palette-error-contrast);
}

.button.text.state-4-hovered.color-0-info .div {
  color: var(--palette-info-main);
}

.button.text.color-0-primary.state-4-enabled .div {
  color: var(--palette-primary-main);
}

.button.color-0-success.state-4-hovered.outlined .div {
  color: var(--palette-success-main);
}

.button.state-4-enabled.outlined.color-0-info .div {
  color: var(--palette-info-main);
}

.button.color-0-success.state-4-hovered.contained .div {
  color: var(--palette-success-contrast);
}

.button.text.color-0-success.state-4-hovered .div {
  color: var(--palette-success-main);
}

.button.state-4-hovered.outlined.color-0-info .div {
  color: var(--palette-info-main);
}

.button.color-0-success.state-4-enabled.outlined .div {
  color: var(--palette-success-main);
}

.button.text.color-0-success.state-4-enabled .div {
  color: var(--palette-success-main);
}

.button.color-0-primary.state-4-hovered.outlined .div {
  color: var(--palette-primary-main);
}

.button.state-4-enabled.color-0-warning.contained .div {
  color: var(--palette-warning-contrast);
}

.button.color-0-secondary.state-4-enabled.contained .div {
  color: var(--palette-secondary-contrast);
}

.button.color-0-info.state-4-hovered.contained .div {
  color: var(--palette-info-contrast);
}

.button.color-0-primary.outlined.state-4-enabled .div {
  color: var(--palette-primary-main);
}

.button.text.state-4-hovered.color-0-warning .div {
  color: var(--palette-warning-main);
}

.button.color-0-secondary.state-4-hovered.contained .div {
  color: var(--palette-secondary-contrast);
}

.button.color-0-primary.state-4-hovered.contained .div {
  color: var(--palette-primary-contrast);
}

.button.color-0-secondary.outlined.state-4-enabled .div {
  color: var(--palette-secondary-main);
}

.button.color-0-success.state-4-enabled.contained .div {
  color: var(--palette-success-contrast);
}

.button.color-0-info.state-4-enabled.contained .div {
  color: var(--palette-info-contrast);
}

.button.color-0-error.state-4-enabled.outlined .div {
  color: var(--palette-error-main);
}

.button.text.color-0-secondary.state-4-enabled .div {
  color: var(--palette-secondary-main);
}

.button.color-0-error.state-4-hovered.outlined .div {
  color: var(--palette-error-main);
}

.button.text.state-4-enabled.color-0-warning .div {
  color: var(--palette-warning-main);
}

.button.state-4-hovered.outlined.color-0-warning .div {
  color: var(--palette-warning-main);
}

.button.text.color-0-error.state-4-enabled .div {
  color: var(--palette-error-main);
}

.button.color-0-error.state-4-enabled.contained .div {
  color: var(--palette-error-contrast);
}

.button.color-0-primary.state-4-enabled.contained .div {
  color: var(--palette-primary-contrast);
}

.button.color-0-secondary.state-4-hovered.outlined .div {
  color: var(--palette-secondary-main);
}

.button.text.color-0-error.state-4-hovered .div {
  color: var(--palette-error-main);
}

.button.text.color-0-secondary.state-4-hovered .div {
  color: var(--palette-secondary-main);
}

.button.state-4-enabled.outlined.color-0-warning .div {
  color: var(--palette-warning-main);
}

.button.text.color-0-primary.state-4-hovered .div {
  color: var(--palette-primary-main);
}

.button.text.state-4-enabled.color-0-info .div {
  color: var(--palette-info-main);
}

.button.size-large .focus-ripple {
  height: 42px;
}

.button.size-small .focus-ripple {
  height: 30px;
}

.button.size-medium .focus-ripple {
  height: 36px;
}

.button.text.size-large .focus-ripple {
  width: 69px;
}

.button.text.size-small .focus-ripple {
  width: 51px;
}

.button.size-large.contained .focus-ripple {
  width: 91px;
}

.button.size-small.contained .focus-ripple {
  width: 61px;
}

.button.size-medium.outlined .focus-ripple {
  width: 75px;
}

.button.size-large.outlined .focus-ripple {
  width: 91px;
}

.button.size-medium.contained .focus-ripple {
  width: 75px;
}

.button.size-small.outlined .focus-ripple {
  width: 61px;
}

.button.text.size-medium .focus-ripple {
  width: 59px;
}

.button.size-large .text-wrapper-2 {
  font-family: var(--button-large-font-family);
  font-size: var(--button-large-font-size);
  font-style: var(--button-large-font-style);
  font-weight: var(--button-large-font-weight);
  letter-spacing: var(--button-large-letter-spacing);
  line-height: var(--button-large-line-height);
}

.button.color-0-inherit-white .text-wrapper-2 {
  color: var(--palette-common-white-main);
}

.button.size-small .text-wrapper-2 {
  font-family: var(--button-small-font-family);
  font-size: var(--button-small-font-size);
  font-style: var(--button-small-font-style);
  font-weight: var(--button-small-font-weight);
  letter-spacing: var(--button-small-letter-spacing);
  line-height: var(--button-small-line-height);
}

.button.size-medium .text-wrapper-2 {
  font-family: var(--button-medium-font-family);
  font-size: var(--button-medium-font-size);
  font-style: var(--button-medium-font-style);
  font-weight: var(--button-medium-font-weight);
  letter-spacing: var(--button-medium-letter-spacing);
  line-height: var(--button-medium-line-height);
}

.button.color-0-inherit .text-wrapper-2 {
  color: var(--palette-text-primary);
}

.button.text.color-0-warning .text-wrapper-2 {
  color: var(--palette-warning-main);
}

.button.text.color-0-primary .text-wrapper-2 {
  color: var(--palette-primary-main);
}

.button.color-0-primary.contained .text-wrapper-2 {
  color: var(--palette-primary-contrast);
}

.button.outlined.color-0-warning .text-wrapper-2 {
  color: var(--palette-warning-main);
}

.button.color-0-secondary.outlined .text-wrapper-2 {
  color: var(--palette-secondary-main);
}

.button.color-0-error.contained .text-wrapper-2 {
  color: var(--palette-error-contrast);
}

.button.outlined.color-0-info .text-wrapper-2 {
  color: var(--palette-info-main);
}

.button.text.color-0-error .text-wrapper-2 {
  color: var(--palette-error-main);
}

.button.color-0-primary.outlined .text-wrapper-2 {
  color: var(--palette-primary-main);
}

.button.text.color-0-secondary .text-wrapper-2 {
  color: var(--palette-secondary-main);
}

.button.color-0-success.outlined .text-wrapper-2 {
  color: var(--palette-success-main);
}

.button.text.color-0-info .text-wrapper-2 {
  color: var(--palette-info-main);
}

.button.text.color-0-success .text-wrapper-2 {
  color: var(--palette-success-main);
}

.button.color-0-info.contained .text-wrapper-2 {
  color: var(--palette-info-contrast);
}

.button.color-0-secondary.contained .text-wrapper-2 {
  color: var(--palette-secondary-contrast);
}

.button.color-0-warning.contained .text-wrapper-2 {
  color: var(--palette-warning-contrast);
}

.button.color-0-success.contained .text-wrapper-2 {
  color: var(--palette-success-contrast);
}

.button.color-0-error.outlined .text-wrapper-2 {
  color: var(--palette-error-main);
}
