
.main-menu {
  align-items: center;
  background-color: #0288D10A;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh; /* Viewport Height */
  justify-content: center;
  padding: 0% 10%; /* Relative to parent dimensions */
  position: relative;
}




.text-wrapper-3{
  width: 100%;
  max-width: 800px;
  font-size: 120%;
  font-family: "Arial Black", serif;
  text-align: center; }



.main-menu .button-instance {
  display: flex !important; /* Consider avoiding !important unless necessary */
  height: 14.4%; /* Relative to parent dimensions */
  width: 80%; /* This can be adjusted according to your needs */
  margin: 0 auto; /* Centering the button horizontally */
}

/* For smaller devices */
@media screen and (max-width: 768px) {

  .main-menu.form {
    padding: 3% 5%;
  }



  .main-menu .button-instance {
    height: auto; /* Resetting to auto so the content determines height */
    width: 90%;
  }
}
